@media (min-width: 200px){
    h1{
        font-size: 30px;
    }
    .banner > article{
        font-size: 14px;
        row-gap: 20px;
    }
    .banner_button{
        width: 144px;
        height: 50px ;
    }

    .banner_img{
        display: none;
    }

    .banner{
        grid-template-columns: 1fr;
    }
}


@media (min-width: 844px){
    
    h1{
        font-size: 38px;
    }
    .banner > article{
        font-size: 16px;
        row-gap: 20px;
    }
    .banner_button{
        width: 196px;
        height: 60px ;
    }

    .banner_img{
        display: block;
    }

    .banner{
        grid-template-columns: 1fr 1fr;
    }
}



@media (min-width: 1082px){
    .banner > article{
        font-size: 18px;
        row-gap: 30px;
    }

    .banner_button{
        width: 255px;
        height: 70px ;
    }

    h1{
        font-size: 60px;
        margin-top: 15%;
    }
    .banner_img{
        display: block;
    }

    .banner{
        grid-template-columns: 1fr 1fr;
    }
}

.banner{
    display: grid;
    width: 100vw;
}

.banner > article{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 10%;

}




.banner > .button{
    width: 255px;
    height: 70px;
}

.banner_img{
    position: relative;
    width: 100%;
    object-fit: cover;
}

