
@media (min-width: 200px){

    h1{
        font-size: 30px;
    }
    .banner_div_text{
        gap: 15px;
        font-size: 14px;
    }
    .banner_button{
        width: 144px;
        height: 50px ;
    }
    .banner_img{
        display: none;
    }
}


@media (min-width: 540px){

    .banner{
        height: 400px;
        gap: 11%;
    }
    h1{
        font-size: 38px;
    }
    .banner_div_text{
        gap: 20px;
        font-size: 16px;
    }
    .banner_button{
        width: 196px;
        height: 60px ;
    }
    .banner_img{
        display: block;
    }
}

@media (min-width: 1035px){
    .banner{
        height: 450px;
        gap: 11%;
    }
    h1{
        font-size: 60px;
    }
    .banner_div_text{
        gap: 30px;
        font-size: 18px;
    }
    .banner_button{
        width: 255px;
        height: 70px;
    }
    .banner_img{
        display: block;
    }
}

.banner{
    display: flex;
    justify-content: center;
}
.banner > article{
    display: flex;
    flex-direction: column;
}
.banner_div_text{
    max-width: 444px;
}
.banner_div_img{
    max-width: 540px;
}
.banner_img{
    width: 100%;
    object-fit: cover;
}





















/* @media (min-width: 200px){
    h1{
        font-size: 30px;
    }
    .banner > article{
        font-size: 14px;
        row-gap: 20px;
    }
    .banner_button{
        width: 144px;
        height: 50px ;
    }

    .banner_img{
        display: none;
    }

    .banner{
        grid-template-columns: 1fr;
        grid-template-rows: 400px;
}

}
@media (min-width: 537px){
    
    h1{
        font-size: 38px;
    }
    .banner > article{
        font-size: 16px;
        row-gap: 20px;
  
    }
    .banner_button{
        width: 196px;
        height: 60px ;
    }

    .banner_img{
        display: block;
        width: 195px;
    }

    .banner{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 600px;
        
}
}


@media (min-width: 1082px){
    .banner > article{
        font-size: 18px;
        row-gap: 30px;
    }

    .banner_button{
        width: 255px;
        height: 70px ;
    }

    h1{
        font-size: 60px;
        margin-top: 15%;
    }
    .banner_img{
        display: block;
    }

    .banner{
        grid-template-columns: 1fr 1fr;
        padding: 5%;
        grid-template-rows: 600px;
    }
}

.banner{
    display: grid;
    max-width: 1440px;
    position: relative;
    
    position: relative;
    z-index: 0;
}

.banner > article{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 10%;

}




.banner > .button{
    width: 255px;
    height: 70px;
}

.banner_img{
   
    width: 100%;
    object-fit: cover;
    
    
} */
