@media (min-width:200px) {
    header{
        grid-template-columns: max-content max-content;
        grid-template-rows: repeat (4,max-content);
    }

    nav{
        display: none;

    } 
    .header_line_two{
        display: block;
        grid-column: span 2;
        grid-row: 2 / 3;
    }
    .header_line {
        display: block;
        grid-column: span 2;
        grid-row: 4 / 5;
    }

    .logo{
        grid-column: span 2;
        grid-template-rows: 1/2;
        justify-content: center;
        
    }

    .nav_search{
        justify-content: end;
        grid-column: 2  / 3;
        grid-row: 3 / 4;
        padding-right: 20px;
    }
    .nav_list{
        display: inline-flex;
        justify-content: start;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        padding-left: 20px;
    }

}
@media (min-width: 500px) {
    header{
        grid-template-columns: max-content max-content;
        grid-template-rows: repeat (4,max-content);
    }

    .logo{
        grid-column: 1/2;
        grid-template-rows: 1/2;
        justify-content: start;
        padding-left: 20px;
    }

    .nav_search{
        justify-content: end;
        grid-column: 2  / 3;
        grid-row: 1 / 2;
        padding-right: 20px;
    }

    nav{
        display: inline-flex;
        grid-column:1 / 3;
        grid-row: 3 / 4;
        justify-content: space-around;
        margin: 0% 2%;
    }

    .header_line_two{
        display: block;
        grid-column: span 2;
        grid-row: 2 / 3;
    }
    .header_line {
        display: block;
        grid-column: span 2;
        grid-row: 4 / 5;
    }
    
    .nav_list {
        display: none;
    }
}

@media (min-width: 1125px) {
    header{
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: max-content;
        column-gap: 60px;
    }

    .logo{
        grid-column: 1/2;
        grid-template-rows: 1/2;
        justify-content: start;
        padding-left: 165px;
    }

    .nav_search{
        justify-content: start;
        grid-column: 3  / 4;
        grid-row: 1 / 2;
        justify-content: end;
        padding-right: 165px;
    }

    nav{
        display: inline-flex;
        grid-column:2 / 3;
        grid-row: 1 / 2;
        justify-content: end;
        margin: 0;
        gap: 60px;
    }

    .header_line_two{
        display: none;
    }
    .header_line {
        display: block;
        grid-column: span 3;
        grid-row: 2 / 3;
    }
    
    .nav_list {
        display: none;
    }
}

header{
    width: 100%;
    display: grid;

}



nav{

    align-items: center;
}


.logo, .nav, .nav_list, .nav_search{
    margin: 2%  0;
    
}

.nav_search{
    gap: 30px;
}

header{
    width: 98vw;
    display: grid;
    justify-content: center;
}

.logo, .nav_search{
    align-items: center;
    display: inline-flex;
}

.logo{
    gap: 3px;
}


.header_line, .header_line_two{
    border-bottom: 1px solid  #C0C0C0;
    width: 100vw ;
   }

.logo_ellipse, .logo_rounded_rectangle{
    height: 17px;
    border: 1px solid #333;
}

.logo_ellipse{
    width: 17px;
    border-radius: 200px;
}

.logo_rounded_rectangle{
    width: 32px;
    border-radius: 70px;
}

.logo > span{
    color: #333;
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 20px;
}

nav > button{
    color: transparent;
    border: none;
    justify-content: center;
}




