
@media (min-width: 200px) {
  
    header{
 
        flex-direction: column;
    }

    .logo{
        align-items: first baseline;
        padding: 10px ;
    }

    .header_smoll_nav, .logo, header{
        display: flex;
    }

    .header_smoll_nav{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 10px 0 10px;
    }
    .logo, header{
        justify-content: center;
    }

    nav, .header_line_three {
        display: none;
    }
}

@media (min-width: 350px) {

    .header_smoll_nav_list, header_nav_search{
        display: none;
    }
    
     header{
        flex-direction: column;
    } 
    
    .logo{
        align-items: first baseline;
        padding: 10px;
    }
    .header_smoll_nav{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 10px 0 10px;
    }
    .header_smoll_nav, .logo, header, nav, .header_normal{
        display: flex;
    }
    
    .logo, header{
        justify-content: center;
    }
    
    nav, .header_normal {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px
    
    }

    .header_nav_search,.header_line_one{
        display: none;
    }

    .header_line_three{
        display: inline;
    }

}

@media (min-width: 850px) { 
    .header_line_one, .header_line_two, .header_smoll_nav{
        display: none;
        }
     
        header{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: baseline;
       
         }
     
         .logo{
             align-items: first baseline;
             padding: 10px;
         }
     
         nav, .logo{
             display:flex;
         }
         
         nav {
             display: flex;
             align-items: flex-start;
             gap: 60px;
             padding: 10px;
         }  
         .logo{
            display:inline-flex;
            justify-content: start;
            align-items: center;
         }

         .header_nav_search{
            display: flex;
            width: 85px;
            justify-content: space-between;

         }
            
        

        }
        
header{
            width: 100vw;
            padding: 0 20px;
         }

.header_line_one, .header_line_two, .header_line_three{
    border-bottom: 1px solid  #C0C0C0;
    width: 100vw ;
   }

.logo_ellipse, .logo_rounded_rectangle{
    height: 17px;
    border: 1px solid #333;
    margin:  0 3px;
}

.logo_ellipse{
    width: 17px;
    border-radius: 200px;
}

.logo_rounded_rectangle{
    width: 32px;
    border-radius: 70px;
}

.logo > span{
    color: #333;
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 20px;
}

nav > button{
    color: transparent;
    border: none;
}