

                                                            /* это самый маленький экран */
/* header{
    width:100vw;
    flex-direction: column;
}

.logo{
    align-items: first baseline;
    padding: 10px ;
    font-family: 'Roboto';
}
.header_smoll_nav{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
}
.header_smoll_nav, .logo, header{
    display: flex;
}

.logo, header{
    justify-content: center;
} */

                                                                  /* это средний экран */

 /* .header_smoll_nav_list, header_nav_search{
    display: none;
}

 header{
    
    width:90%;
    flex-direction: column;
} 

.logo{
    align-items: first baseline;
    padding: 10px;
}
.header_smoll_nav{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
}
.header_smoll_nav, .logo, header, nav, .header_normal{
    display: flex;
}

.logo, header{
    justify-content: center;
}

nav, .header_normal {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px

} */ 

  
                                                                        /* это большой экран  */

/* .header_line_one, .header_line_two, .header_smoll_nav{
   display: none;
   }

   header{
    width:90%;
    display: flex;
    background-color: aqua;
    flex-direction:row;
    align-items:center ;
    justify-content:space-between;
    }

    .logo{
        align-items: first baseline;
        padding: 10px;
    }

    nav, .logo{
        display:inline-flex;
    }
    
    nav {
        display: inline-flex;
        align-items: flex-start;
        gap: 60px;
        padding: 10px;
    }  */

    


/* 

nav, .logo{
    display:inline-flex;
}



nav{
    display:inline-flex;
    background-color: rgb(227, 183, 227);
    align-items: center;
    justify-content: space-between;
    
} */ 

/* 
.logo{
    display:inline-flex;
    background-color: aquamarine;
    justify-content: start;
    align-items: center;
} */





















                                                              /* Это стили фигур  */

.header_line_one, .header_line_two, .header_line_three{
    border-bottom: 1px solid  #C0C0C0;
    width: 100vw ;
   }

.logo_ellipse, .logo_rounded_rectangle{
    height: 17px;
    border: 1px solid #333;
    margin:  0 3px;
}

.logo_ellipse{
    width: 17px;
    border-radius: 200px;
}

.logo_rounded_rectangle{
    width: 32px;
    border-radius: 70px;
}

.logo > span{
    color: #333;
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 20px;
}

nav > button{
    color: transparent;
    border: none;
}