@media (min-width:200px) {
    .product{
        grid-template-columns: 1fr;
    }
    .product > article > p{
        font-size: 16px;
    }
    h3{
        font-size: 24px;
    }
}
@media (min-width:595px) {
    .product{
        grid-template-columns: repeat(2,1fr);
    }
    .product > article > p{
        font-size: 16px;
    }
    h3{
        font-size: 24px;
    }
}
@media (min-width:759px) {
    .product{
        grid-template-columns: repeat(2,1fr);
    }
    .product > article > p{
        font-size: 18px;
    }
    h3{
        font-size: 30px;
    }
}
@media (min-width:1359px) {
    .product{
       grid-template-columns: repeat(4,1fr);
    }
    .product > article > p{
        font-size: 18px;
    }
    h3{
        font-size: 30px;
    }
}
.product{
    display: grid;
    gap: 30px;
}
.product > article{
    position: relative;
    display: flex;
    flex-direction: column;
}   

.product > article > a{
    color: #7875FE;
    font-size: 20px;
}
.product > article > a >img{
    vertical-align: middle;
}
.product > article > span{
    color: #B5B5BD;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.product > article > p {
    margin-bottom: 20px;
    margin-top: 8px;
}
h3{
    margin-top: 20px;
    margin-bottom: 8px;
}
.product_img{
    display: inline-flex;
    background-color: #EBEBEB;
    height: 180px;
    justify-content: center;
}

.product_img > img{
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    
}
