

@font-face {
    font-family: 'Ubuntu';
    src: url(fonts/Ubuntu-Regular.ttf);
}


@font-face {
    font-family: 'Roboto';
    src: url(fonts/Ubuntu-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Roboto';
    font-style: normal;
    color: #85859B;
    font-weight: 400;
    line-height: 170%;
    font-size: 18px;
    
}

body{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    color:white ;
    width: 100vw;
}
main{
    max-width: 1440px;
    display: grid;
    grid-column: 1fr;
    position: relative;
}

.header_line, .header_line_two, .whiteness_rezult_line_three, .whiteness_rezult_line_two, .whiteness_rezult_line_one{
    border-bottom: 1px solid  #C0C0C0;
   }






button, h3, .logo > span, nav > button {
    line-height: normal; 
}

h1, nav > button{
    color: #4C5866;

    /* Почему на кнопках нет цвета? */
}

h2, h3{
    color: #666;
}

h1, h2{
    line-height: 100%; 
}


h2{
    font-size: 40px;
}

h3{
    font-size: 30px;
}

button{
    border: none;
    background-color: transparent;
    color: #7875FE;
    border: 1px solid #7875FE;
    font-size: 20px;
}
